<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ac.simpleapp.security.mapper.IUserDetailsMapper">

    <select id="getRole" resultType="com.ac.simpleapp.security.domain.UserRole">
        select * from a_user_role
    </select>

</mapper>